apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../katalog/kong/kong-enterprise

patchesStrategicMerge:
  - kong-enterprise-services.yaml
  # - kong-enterprise-migrations.yaml USE ONLY WHEN UPGRADING

secretGenerator:
  - name: kong-settings
    namespace: kong
    behavior: merge
    envs:
      - kong-common.env
  - name: kong-settings-cp
    namespace: kong
    behavior: merge
    envs:
      - kong-cp.env
  - name: kong-enterprise-license
    namespace: kong
    behavior: replace
    files:
      - license=secrets/license.json
